.footer-container{
    background: #D9D9D9;
    height: 250px;
    .pa{
        position: absolute;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        list-style: none;
        margin: 40px;
        padding: 35px;
    }
    li{
        width: 75%;
        a{
            padding: 2px 0;
            margin-bottom: 5px;
            display: block;
        }
        .fw7{
            font-weight: 700;
        }
    }
}
.fw7{
    font-weight: 700;
}