.HeaderContainer {
  padding: 13px 0px 17px 0px;
  box-shadow: 5px 3px 5px 0px rgb(0 0 0 / 20%);
  position: sticky;
  width: 100%;
  top: 0px;
  background: white;
  z-index: 9;
  .title {
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    .titleSpan {
      color: magenta;
    }
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  .headerFlexBox {
    display: flex;
    justify-content: space-between;
    .navItems {
      display: flex;
      margin: 0px;
      align-items: center;
      .item {
        margin: 0px 10px;
        list-style: none;
        font-size: 16px;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
